Repository omni-us/reconplogger: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci config validate -c .circleci/config.yml, pylint --errors-only --disable=no-member

.pre-commit-config.yaml:

fail_fast: true

repos:

- repo: local
  hooks:

  - name: twine check [on bumpversion]
    id: ./setup.py bdist_wheel && twine check dist/*.whl
    entry: bash -c '
      if [ "${BUMPVERSION_NEW_VERSION+x}" = "" ]; then
        echo skipped;
      else
        ./setup.py bdist_wheel;
        twine check dist/*.whl;
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - name: circleci config
    id: circleci config validate -c .circleci/config.yml
    entry: circleci config validate -c
    language: system
    files: .circleci/config.yml
    verbose: true

  - name: pylint
    id: pylint --errors-only --disable=no-member
    entry: pylint --errors-only --disable=no-member
    language: system
    types: [python]
    verbose: true

  - name: tox
    id: tox --parallel
    entry: tox --parallel
    language: system
    pass_filenames: false
    verbose: true

  - name: coverage
    id: ./setup.py test_coverage
    entry: ./setup.py test_coverage
    language: system
    pass_filenames: false
    verbose: true

- Fixed test_requests_patch. - Reverted changes in circleci testing. - Added tox testing without all extras require.
  .circleci/config.yml
  reconplogger_tests.py
  setup.cfg
  setup.py
Due: circleci config validate -c .circleci/config.yml, pylint --errors-only --disable=no-member

Fix circleci coverage.
  .circleci/config.yml
Due: circleci config validate -c .circleci/config.yml

Bump version: 4.10.1 → 4.11.0
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Remove modification of werkzeug logger.
  reconplogger.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.11.0 → 4.11.1
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.11.1 → 4.12.0
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.12.0 → 4.13.0
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Add context manager to set correlation id.
  .circleci/config.yml
  README.rst
  reconplogger.py
  reconplogger_tests.py
  setup.py
Due: circleci config validate -c .circleci/config.yml, pylint --errors-only --disable=no-member

Add context manager to set correlation id (#14)
  .circleci/config.yml
  README.rst
  reconplogger.py
  reconplogger_tests.py
  setup.py
Due: circleci config validate -c .circleci/config.yml, pylint --errors-only --disable=no-member

Bump version: 4.13.0 → 4.14.0
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

- Change json logger to use timestamp in iso format. - Add black and standard hooks to pre-commit config. - Replace pylint with ruff.
  .pre-commit-config.yaml
  reconplogger.py
  reconplogger_tests.py
  setup.cfg
  setup.py
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

ISO json timestamp and code formatting (#15)
  .pre-commit-config.yaml
  reconplogger.py
  reconplogger_tests.py
  setup.cfg
  setup.py
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.14.0 → 4.15.0
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Remove the automatic creation of correlation ids.
  README.rst
  reconplogger.py
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

Remove the automatic creation of correlation ids (#16)
  README.rst
  reconplogger.py
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.15.0 → 4.16.0
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Fix correlation_id_context not considered in request patch
  .bumpversion.cfg
  reconplogger.py
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

Fix correlation_id_context not considered in request patch (#17)
  .bumpversion.cfg
  reconplogger.py
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.16.0 → 4.16.1
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Drop unmaintained logmatic
  .circleci/config.yml
  .pre-commit-config.yaml
  reconplogger.py
  setup.cfg
Due: circleci config validate -c .circleci/config.yml, pylint --errors-only --disable=no-member

Fix circleci config
  .circleci/config.yml
Due: circleci config validate -c .circleci/config.yml

Drop unmaintained logmatic (#18)
  .circleci/config.yml
  .pre-commit-config.yaml
  reconplogger.py
  setup.cfg
Due: circleci config validate -c .circleci/config.yml, pylint --errors-only --disable=no-member

Bump version: 4.16.1 → 4.17.0
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

Fix bug in UTC timestamps format
  reconplogger.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.17.0 → 4.17.1
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
  setup.cfg
  sphinx/conf.py
Due: pylint --errors-only --disable=no-member

RLoggerProperty now supports rlogger init parameter.
  reconplogger.py
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

Switch to pyproject.toml, update pre-commit, workflows, readme.
  .bumpversion.cfg
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.rst
  pyproject.toml
  reconplogger.py
  reconplogger_tests.py
  setup.cfg
  setup.py
Due: pylint --errors-only --disable=no-member

Remove circleci
  .circleci/config.yml
  pyproject.toml
Due: circleci config validate -c .circleci/config.yml

coverage and readthedocs
  .github/workflows/test.yml
  .github/workflows/tests.yaml
  .readthedocs.yaml
  .readthedocs.yml
  DOCUMENTATION.rst
  README.rst
  sphinx/conf.py
  sphinx/index.rst
Due: pylint --errors-only --disable=no-member

pytest dependency
  pyproject.toml
Due: none

Switch to pyproject.toml and pytest, update pre-commit, workflows, readme (#19)
  .bumpversion.cfg
  .circleci/config.yml
  .github/workflows/test.yml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  .readthedocs.yaml
  .readthedocs.yml
  DOCUMENTATION.rst
  README.rst
  pyproject.toml
  reconplogger.py
  reconplogger_tests.py
  setup.cfg
  setup.py
  sphinx/conf.py
  sphinx/index.rst
Due: circleci config validate -c .circleci/config.yml, pylint --errors-only --disable=no-member

Bump version: 4.17.1 → 4.18.0
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
Due: pylint --errors-only --disable=no-member

Fix failures when flask is installed but requests not
  reconplogger.py
Due: pylint --errors-only --disable=no-member

Fix failures when flask is installed but requests not (#20)
  reconplogger.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.18.0 → 4.18.1
  .bumpversion.cfg
  .sonarcloud.properties
  reconplogger.py
Due: pylint --errors-only --disable=no-member

Support root handler change to affect all loggers
  .bumpversion.cfg
  .github/workflows/tests.yaml
  .gitignore
  .pre-commit-config.yaml
  .sonarcloud.properties
  DOCUMENTATION.rst
  README.rst
  pyproject.toml
  reconplogger.py
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

Add test for coverage
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

More changes
  reconplogger.py
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

Support root handler change to affect all loggers (#21)
  .bumpversion.cfg
  .github/workflows/tests.yaml
  .gitignore
  .pre-commit-config.yaml
  .sonarcloud.properties
  DOCUMENTATION.rst
  README.rst
  pyproject.toml
  reconplogger.py
  reconplogger_tests.py
Due: pylint --errors-only --disable=no-member

Bump version: 4.18.1 → 5.0.0.dev1
  .bumpversion.cfg
  reconplogger.py
Due: pylint --errors-only --disable=no-member
